body {
  background-color: white;
  color: #222222;
  min-width: 400px;
  font-family: 'Hammersmith One', sans-serif;
  margin: 0px !important;
}

/*------------- Header ------------*/

header {
  background-color: #333333 !important;
}

header .container {
  padding-top: 15px !important;
  padding-bottom: 0px !important;
  background-color: #333333 !important;
  min-height: 35px;
}

header .container a {
  text-decoration: none;
  color: white;
}

header .container a:hover {
  text-decoration: underline;
}

header .container label {
  text-decoration: none;
  color: white;
}
header form{
  margin-top: 10px;
  margin-bottom: 15px;
}
/*------------- Helpers ------------*/

.clear {
  clear: both;
}

.autofill {
  overflow: auto;
}

.left {
  float: left!important;
}

.right {
  float: right!important;
}

.padSmall{
  padding: 10px;
}
.padTop {
  padding-top: 50px;
}

.padBot {
  padding-bottom: 50px;
}

.center {
  text-align: center;
}
.bgLight {
  background-color: #EEEEEE;
}
/*------------- Media Queries ------------*/

@media screen and (max-width: 768px){
  .container {
      width: 100%;
      padding: 30px 15px;
  }
  .cam{
    width: 100%;
  }
  .menu{
    width: 100%;
    padding: 50px 0px;
  }
  .galeries{
    width: 100%;
    padding: 15px 0px;
  }
  .montage_main{
    width: 100%;
  }
}

@media screen and (min-width: 768px){
  .container {
    width: 750px;
    margin: 0 auto;
    padding: 60px 0px;
  }
  .cam{
    padding-left: 20px;
    width: 60%;
  }
  .menu{
    /*width: 33%;*/
    /*padding: 0px 20px;*/
  }
  .galeries{
    width: 50%;
  }
}

@media screen and (min-width: 992px){
  .container {
      width: 970px;
  }
}

@media screen and (min-width: 1200px){
  .container {
      width: 1170px;
  }
}

.container {
  background-color: #EEEEEE;
  display: block;
}
.container div {
  display: inline-block !important;
  vertical-align: top;
  /*border: 2px solid red;*/
}
.container ul li {
  width: 320px;
  height: 240px;
  margin: 5px;
  display: inline-block !important;
}
.title{
  /*background-color: #333333;*/
  width: 80%;
  border-bottom: solid 3px #333333;
  /*color: white;*/
  margin-bottom: 50px;
}
.title h2{
  padding: 0 !important;
  margin: 0 !important;
}

/*------------- Montage ------------*/

.menu{
  max-height: 780px;
  overflow-y: scroll;
}

.montage_main {
  display: inline-block;
  vertical-align: top;
  width: 49%;
}

#cam {
  position: relative;
  height: 240px;
}

#video {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;
}

#preview {
  position: absolute;
  z-index: 2;
}

/*------------- Galerie ------------*/

.page a {
  text-decoration: none;
  color: green;
}

.current {
  color: purple !important;
}

.gal{
  width: 320px;
  margin: 5px 5px;
  display: inline-block !important;
  border: solid 1px white;
  height: 520px;
}

.gal div {
  padding-bottom: 10px;
}

.galImg{
  height: 240px;
  width: 320px;
}
.galCmts{
  width: 300px;
  height: 80px;
  margin-bottom: 10px;
  overflow-y: scroll;
}
.galCmts p {
  word-wrap: break-word;
  width: 100%;
  background-color: white;
  margin: 5px 0;
}
.galNewCmt{
  background-color: white;
  height: 15px;
  width: 300px;
  word-wrap: break-word;

}
